#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #fafafa !important;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fafafa !important;
}
.border-custom-dash {
  background-image: repeating-linear-gradient(
    to right,
    #a0a1a2,
    #a0a1a2 6px,        
    transparent 6px,  
    transparent 10px  
  );
  background-size: 16px 5px; /* Общий цикл - 16px, Высота линии - 5px */
  background-repeat: repeat-x;
  background-position: bottom;
}
